root = true

[*.{js,ts,jsx,tsx,json,json5,yaml,yml,toml,md,sh,bash}]
indent_size = 2
tab_width = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true